
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
instance/
.env
*.sqlite3
*.db

migrations/

*.log
*.tmp
.DS_Store

.vscode/
.idea/

client/node_modules/
client/dist/
client/.env
client/.DS_Store

build/
coverage/
*.egg-info/
